@{
    ViewData["Title"] = "Error";
}

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
    
        body{
            background:#f0f0f0;
        }
        .error-container {
            text-align: center;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 40px;
            width: 600px;
            margin:0 auto
        }

        .error-container h1 {
            font-size: 50px;
            color: black;
        }

        .error-container p {
            font-size: 25px;
            color: #555;
        }

        .error-container a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #3498db;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: 22px;
        }

        .error-container a:hover {
            background-color: #081444;
        }

        /* For responsive design */
        @@media (max-width: 600px) {
            .error-container {
                width: 90%;
            }

            .error-container h1 {
                font-size: 28px;
            }

            .error-container p {
                font-size: 16px;
            }
        }
    </style>

    <div style="padding:40px">

    </div>
    <div class="error-container">
        <h1>Error </h1>
        <p>@Model</p>
        <a href="@Url.Action("Login", "Home")">Go Back to Login</a>
    </div>